
h1{color: blue;
text-align: center;
border: solid 3px green;
font-family: 'Times New Roman', Times, serif;
padding: 15px;
a{
            text-decoration: none;
        }
}
.nav-bar{
    position: relative;
    list-style: none;
}.
.nav-bar-container{
    background-color:blueviolet;
    text-align: center;
    top: 0 20px;
    margin-top: 0;
}